$Color_1: #232230;
$Color_2: #2E3042;
$Color_3: #F2F2F8;

@import "Main";


body,
.modal-content,
.dropdown-menu {
    background-color: $Color_1 !important;
}

* {
    color: $Color_3 !important;
}

.bg-hight-Gary,
.BtnGray>* {
    color: $Color_2 !important;
}

header {
    .Line_Menu_Item {
        position: relative;
        font-weight: bold;

        &::before {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 0%;
            height: 2px;
            border-radius: 50px;
            transition: all 0.3s;
            background-color: $Purple;
        }

        &:hover::before {
            width: 100%;
        }
    }

    .Active_Item_MainMenu::before {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 2px;
        border-radius: 50px;
        background-color: $Purple;
    }

    .SocialMediaIcon_Navbar {
        background-color: $Color_2;
        width: 35px;
        border-radius: 40px;
        transition: all 0.3s;
        cursor: pointer;
        margin: 0 6px;

        i {
            font-size: 17px;
        }

        p {
            display: none;
        }

        &:hover {
            width: 100px;

            p {
                display: inline-block;
            }
        }
    }

    .SocialMediaIcon_Navbar_Active {
        width: 100px;

        p {
            display: inline-block;
        }
    }
}

main {
    overflow: hidden;
    position: relative;

    .Intro {
        background-color: $Color_2;
        border-radius: 16px;
    }

    .SearchInput {
        &:focus {
            outline: none;
            border: none;
            box-shadow: 0 0 0;
        }

        &::placeholder {
            color: #ccc !important;
        }
    }

    .Container_Icons {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto;
        gap: 30px;

        .Icon_Pack {
            display: flex;
            justify-content: start;
            align-items: center;
            flex-direction: column;
            cursor: pointer;

            i {
                font-size: 24px;
            }

            small {
                font-size: 9px;
                padding: 3px;
                margin: 1px 3px;
                display: inline-block;
            }

            .Utils {
                display: flex;
                visibility: hidden;
            }

            div {
                transition: all 0.1s;
            }

            &:hover {
                div {
                    background-color: $Color_2;
                }

                .Utils {
                    visibility: visible;
                }
            }
        }
    }

    .MultipleSelect_Menu {
        transition: all .3s;
        padding: 10px;
        position: absolute;
        width: 350px;
        height: 65px;
        right: -320px;
        top: 517px;
        background: $Purple;
        border-width: 3px 0px 3px 3px;
        border-style: solid;
        border-color: #F2F2F8;
        border-radius: 71.5px 0px 0px 71.5px;

        .BtnGray {
            background-color: $Purple;
        }

        &:hover {
            .BtnGray {
                background-color: $Color_2;
            }

            .Text_Multiple {
                display: none;
            }

            background-color: $Color_1;
            right: 0px;
        }

        .Text_Multiple {
            position: absolute;
            left: -12px;
            bottom: 12px;
            transform: rotateZ(-90deg);
            color: $Color_1 !important;
            font-weight: bold;
            font-size: 10px;
        }
    }

    .dropdown-item {
        &:hover {
            background-color: $Color_1 !important;
            color: $Color_3 !important;
        }
    }
}

footer {
    .Footer_SocialMedia {
        img {
            width: 30px;
            height: 30px;
        }
    }
}

@import "Media";