@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Regular.otf"),
    url("../fonts/Barlow-Medium.otf") format("otf"),
    url("../fonts/Barlow-Light.otf") format("otf"),
    url("../fonts/Barlow-Extra Bold.ttf") format("ttf"),
    url("../fonts/Barlow-Bold.otf") format("otf");
}
@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-Regular.woff"),
    url("../fonts/Outfit-Medium.woff") format("woff"),
    url("../fonts/Outfit-Light.woff") format("woff"),
    url("../fonts/Outfit-ExtraBold.woff") format("woff"),
    url("../fonts/Outfit-Bold.woff") format("woff");
}
body {
  font-family: "Barlow" !important;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none !important;
}
.Bold {
  font-weight: bold !important;
}
.Pointer {
  cursor: pointer !important;
}
.Color_Gray {
  color: #ccc !important;
}
.Color_Purple {
  color: #685ad3;
}
.bg-purple {
  background-color: #685ad3;
}
.bg-hight-Gary {
  background-color: #e5e4f2;
  color: #f2f2f8;
}
.bg-Gray {
  background-color: #2e3042;
}
.BtnPurple {
  background-color: #685ad3;
  color: #232230;
  border-radius: 8px;
  font-size: 15px;
}
.BtnPurple:hover {
  color: #232230;
}
.BtnGray {
  background-color: #e5e4f2 !important;
  color: #2e3042;
  border-radius: 8px;
  font-size: 15px;
}
body,
.modal-content,
.dropdown-menu {
  background-color: #232230 !important;
}
*,
a,
.ss pre {
  color: #f2f2f8;
}
.bg-hight-Gary,
.fa-share,
.BtnGray > * {
  color: #2e3042 !important;
}
header .Line_Menu_Item {
  position: relative;
  font-weight: bold;
}

header .SocialMediaIcon_Navbar {
  background-color: #2e3042;
  width: 35px;
  border-radius: 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  margin: 0 6px;
}
header .SocialMediaIcon_Navbar i {
  font-size: 17px;
}
header .SocialMediaIcon_Navbar p {
  display: none;
}
header .SocialMediaIcon_Navbar:hover {
  width: 100px;
}
header .SocialMediaIcon_Navbar:hover p {
  display: inline-block;
}
header .SocialMediaIcon_Navbar_Active {
  width: 100px;
}
header .SocialMediaIcon_Navbar_Active p {
  display: inline-block;
}
main {
  overflow: hidden;
  position: relative;
}
main .Intro {
  background-color: #2e3042;
  border-radius: 16px;
}
main .SearchInput:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}
main .SearchInput::-webkit-input-placeholder {
  color: #ccc !important;
}
main .SearchInput:-ms-input-placeholder {
  color: #ccc !important;
}
main .SearchInput::-ms-input-placeholder {
  color: #ccc !important;
}
main .SearchInput::placeholder {
  color: #ccc !important;
}
main .Container_Icons {
  display: -ms-grid;
  display: grid;
}
main .Container_Icons .Icon_Pack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: pointer;
}
main .Container_Icons .Icon_Pack i {
  font-size: 24px;
}

main .Container_Icons .Icon_Pack small {
  font-size: 9px;
  padding: 3px;
  margin: 1px 3px;
  display: inline-block;
}
main .Container_Icons .Icon_Pack .Utils {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
}
main .Container_Icons .Icon_Pack div {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
main .Container_Icons .Icon_Pack:hover div,
main .Container_Icons .Icon_Pack-1:hover div {
  background-color: #2e3042;
}
main .Container_Icons .Icon_Pack:hover .Utils,
main .Container_Icons .Icon_Pack-1:hover .Utils {
  visibility: visible;
}
main .MultipleSelect_Menu {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 10px;
  position: fixed;
  width: 390px;
  height: 65px;
  right: 0px;
  top: 80vh;
  background: rgb(41, 42, 58);
  border-width: 3px 0px 3px 3px;
  border-style: solid;
  border-color: #2e3042;
  border-radius: 71.5px 0px 0px 71.5px;
}
main .MultipleSelect_Menu .BtnGray {
  background-color: #232230;
}

main .MultipleSelect_Menu .Text_Multiple {
  position: absolute;
  left: -11px;
  bottom: 9px;
  -webkit-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
  color: #232230 !important;
  font-weight: bold;
  font-size: 10px;
  display: none;
}
main .dropdown-item:hover {
  background-color: #232230 !important;
  color: #f2f2f8 !important;
}
footer .Footer_SocialMedia img {
  width: 30px;
  height: 30px;
}

.mybtn1 {
		border-radius: 16px !important;
		overflow: hidden;
		}
@media only screen and (min-width: 992px) {
  .w-lg-auto {
    width: auto !important;
  }
  main .MultipleSelect_Menu {
    top: 80vh;
  }
}

@media only screen and (max-width: 1350px) {
  .w-lg-100 {
    width: 100% !important;
  }
  main .SideForm {
    height: 559px !important;
  }
}
  main .Container_Icons .Icon_Pack i,
  main .Container_Icons .Icon_Pack-1 i {
    font-size: 24px;
    margin-top: 13px;
    transition: 0.3s;
  }

  main .Container_Icons .Icon_Pack:hover i,
  main .Container_Icons .Icon_Pack-1:hover i {
    margin-top: 0px;
  }
  
    .customizeforphone
	{
		border-radius: 30px;
		overflow: hidden;
		}
		
		
@media only screen and (min-width: 1350px) {

  .nav-item1 {
    width: 105px;
    display: flex;
    justify-content: center;
  }
  
}

@media only screen and (max-width: 992px) {
  .w-lg-100 {
    width: 100% !important;
  }
  main .SideForm {
    height: 559px !important;
  }
  .ChangeSizeToMobile
{
  width: 280px !important;
  height: 280px !important;
  max-width: 10000px !important;
  margin: 0px !important;
  max-width: 10000px !important;
}

.ChangeSizeToMobile i {
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
}

@media only screen and (max-width: 768px) {
  main .Container_Icons {
    -ms-grid-columns: auto auto auto;
    grid-template-columns: auto auto auto;
  }
    .searchStyle {
    width: 55vw !important;
  }
}
@media only screen and (max-width: 600px) {
	
		
		
		
		
		.mybtn1 {
		overflow: visible;
		}
	
	.mybtn , .mybtn > * {
	margin: 0px !important;
border-radius: 0px !important;
	}
	
	main .MultipleSelect_Menu {
  	width: 100vw !important;
  padding: 0px !important;
  top:80vh !important;
  left:0px;
  right:0px;
  background: transparent;
  border: 0px;
  border-radius: 0px !important;
  }
  
  main .MultipleSelect_Menu span , main .MultipleSelect_Menu small {
  font-size: 16px !important;	
  } 
  
  .btn1 {
  	position: absolute;
      right: 0px;
       width: 70vw;
      }
      
        .btn2 {
  	position: absolute; 
  left:0px;
      width: 30vw;
      }

  main .Intro {
    border-radius: 0px !important;
  }
  
  
  .customizeforphone
{
	width: 100vw !important;
	height: 100vh !important;
    margin-left : -8px !important;
    margin-top: -8px !important;
    border-radius: 0px !important;
    overflow: scroll;
	}

  .customizeforphone .closemodal {
  background: transparent !important;
}
}

#ConImageChange {
  width: 120px;
  height: 120px;
}
svg {
  width: 30px;
  height: 30px;
}
pre {
  color: #f2f2f8 !important;
}
.NewGray {
  background-color: #3c3e52 !important;
}
.Icons_Button_Slider {
  visibility: hidden;
  position: absolute;
}

.Code_Text,
.Code_Text_1,
.Category {
  visibility: hidden;
  position: absolute;
}

.bg-icons {
  padding: 24px;
  background-image: url(../img/Union1.png);
  background-repeat: no-repeat;
  background-size: contain;
}

main .Container_Icons .Icon_Pack div,
main .Container_Icons .Icon_Pack-1 div {
  border: 0.3px solid #2e3042;
}

input[type="range"] {
  width: 100%;
  height: 4px;
  cursor: pointer;
  appearance: none;
  border-radius: 9999px;
  margin-bottom: 24px;
  margin-top: 15px;
  color: #56566f;
  background-color: #56566f;
}

input[type="range"]::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 300px;
  background: #f2f2f8;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2px;
}

.SocialMediaIcon_Navbar1 {
  background-color: #2e3042;
  width: 35px;
  border-radius: 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  margin: 0 6px;
  padding: 11px !important;
}

.searchStyle {
  border: 0.3px solid #2e3042;
  border-radius: 24px !important;
  margin-left: 22px;
  width: 38vw;
}

.border-style {
  border: 0.3px solid #2e3042;
  border-radius: 24px !important;
  padding: 4px;
  padding-right: 17px;
  margin-right: 22px;
  overflow: hidden;
}

.Top_Style {
  border: 2px solid #685ad3;
  padding: 5px 6px !important;
  border-radius: 46px !important;
  position: relative;
}

.Top_Style small {
  color: #56566f !important;
  font-size: 10px !important;
  position: absolute;
  left: 30%;
  top: 48px;
}

.Top_Style svg path {
  fill: #56566f !important;
  color: #56566f !important;
}

.resettext,
.resettext::placeholder {
  color: #56566f !important;
}

.mainshowsvg {
  border-radius: 18px;
  padding: 12px !important;
  margin-bottom: 3rem !important;
  max-width: 194px ;
}

.closemodal {
  background: #292a3a !important;
}

.closemodal svg path,
.changecolor path {
  fill: #56566f;
}

.changebgdark {
  background-color: #2e3042 !important;
}
.changebgdark span {
  color: #f2f2f8 !important;
}

a {
  color: #f2f2f8 !important;
}

.btndark {
  background-color: #292a3a !important;
}

.btndark span {
  color: #f2f2f8 !important;
}

.btndark svg path {
  fill: #f2f2f8 !important;
}

.MultipleSelect_Menu .BtnGray {
  background-color: #2e3042 !important;
}

main .MultipleSelect_Menu .BtnGray1 {
  background-color: #2e3042;
}
main .MultipleSelect_Menu .BtnGray1 svg path {
  fill: #f2f2f8;
}

header .nav-item1 {
  position: relative;
  font-size: 18px !important;
  font-weight: 600;
}

.nav-item1::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0%;
  height: 2px;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #685ad3;
}

header .nav-item1:hover::before {
  width: 100%;
}

header .Active_Item_MainMenu::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  border-radius: 50px;
  background-color: #685ad3;
}







