@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Regular.otf"),
    url("../fonts/Barlow-Medium.otf") format("otf"),
    url("../fonts/Barlow-Light.otf") format("otf"),
    url("../fonts/Barlow-Extra Bold.ttf") format("ttf"),
    url("../fonts/Barlow-Bold.otf") format("otf");
}
@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-Regular.woff"),
    url("../fonts/Outfit-Medium.woff") format("woff"),
    url("../fonts/Outfit-Light.woff") format("woff"),
    url("../fonts/Outfit-ExtraBold.woff") format("woff"),
    url("../fonts/Outfit-Bold.woff") format("woff");
}
body {
  font-family: "Barlow" !important;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none !important;
}
.Bold {
  font-weight: bold !important;
}
.Pointer {
  cursor: pointer !important;
}
.Color_Gray {
  color: #ccc !important;
}
.Color_Purple {
  color: #685ad3;
}
.bg-purple {
  background-color: #685ad3;
}
.bg-hight-Gary {
  background-color: #e5e4f2;
  color: #56566f;
}
.bg-Gray {
  background-color: #f2f2f8;
}
.BtnPurple {
  background-color: #685ad3;
  color: #fff;
  border-radius: 8px;
  font-size: 15px;
}
.BtnPurple:hover {
  color: #fff;
}
.BtnGray {
  background-color: #e5e4f2 !important;
  color: #f2f2f8;
  border-radius: 8px;
  font-size: 15px;
}
body,
.modal-content {
  background-color: #fff !important;
}
*,
a,
ss pre {
  color: #56566f;
}
.BtnPurple > *,
.bg-purple {
  color: #f2f2f8 !important;
}
header .Line_Menu_Item {
  position: relative;
  font-size: 18px !important;
  font-weight: 600;
}
header .Line_Menu_Item::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0%;
  height: 2px;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #685ad3;
}
header .Line_Menu_Item:hover::before {
  width: 100%;
}
header .Active_Item_MainMenu::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  border-radius: 50px;
  background-color: #685ad3;
}
header .SocialMediaIcon_Navbar {
  background-color: #f2f2f8;
  width: 35px;
  border-radius: 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  margin: 0 6px;
  padding: 6px !important;
}
header .SocialMediaIcon_Navbar i {
  font-size: 17px;
}
header .SocialMediaIcon_Navbar p {
  display: none;
}
header .SocialMediaIcon_Navbar:hover {
  width: 100px;
}
header .SocialMediaIcon_Navbar:hover p {
  display: inline-block;
}
header .SocialMediaIcon_Navbar_Active {
  width: 100px;
}
header .SocialMediaIcon_Navbar_Active p {
  display: inline-block;
}
main {
  overflow: hidden;
  position: relative;
}
main .Intro {
  background-color: #f2f2f8;
  border-radius: 16px;
}
main .SearchInput:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}
main .SearchInput::-webkit-input-placeholder {
  color: #ccc !important;
}
main .SearchInput:-ms-input-placeholder {
  color: #ccc !important;
}
main .SearchInput::-ms-input-placeholder {
  color: #ccc !important;
}
main .SearchInput::placeholder {
  color: #ccc !important;
}
main .Container_Icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto auto auto auto;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  justify-content: space-evenly;
  gap: 30px 15px;
}
main .Container_Icons .Icon_Pack,
main .Container_Icons .Icon_Pack-1 {
  border-radius: 11px !important;
  max-width: 88.963px;
  min-width: 78.953px;
  min-height: 107px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: pointer;
  font-size: 16px !important;
}


main .Container_Icons .Icon_Pack i,
main .Container_Icons .Icon_Pack-1 i {
  font-size: 24px;
}
main .Container_Icons .Icon_Pack small,
main .Container_Icons .Icon_Pack-1 small {
  font-size: 9px;
  padding: 3px;
  margin: 1px 3px;
  display: inline-block;
}
main .Container_Icons .Icon_Pack .Utils,
main .Container_Icons .Icon_Pack-1 .Utils {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
}
main .Container_Icons .Icon_Pack div {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
main .Container_Icons .Icon_Pack:hover div {
  background-color: #f2f2f8;
}
main .Container_Icons .Icon_Pack:hover .Utils {
  visibility: visible;
}
main .MultipleSelect_Menu {
  display: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 10px;
  position: fixed;
  width: 390px;
  height: 65px;
  right: -355px;
  top: 400px;
  background: #685ad3;
  border-width: 3px 0px 3px 3px;
  border-style: solid;
  border-color: #f2f2f8;
  border-radius: 71.5px 0px 0px 71.5px;
}
main .MultipleSelect_Menu .BtnGray {
  background-color: #685ad3 !important;
}
main .MultipleSelect_Menu:hover {
  background-color: #fff;
  right: 0px;
}
main .MultipleSelect_Menu:hover .BtnGray {
  background-color: #f2f2f8 !important;
}
main .MultipleSelect_Menu:hover .Text_Multiple {
  display: none;
}
main .MultipleSelect_Menu .Text_Multiple {
  position: absolute;
  left: -11px;
  bottom: 9px;
  -webkit-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
  color: #f2f2f8 !important;
  font-weight: 500;
  font-size: 10px;
}
footer .Footer_SocialMedia img {
  width: 30px;
  height: 30px;
}

main .Container_Icons .Icon_Pack div,
main .Container_Icons .Icon_Pack-1 div {
  border: 0.3px solid #f2f2f8;
  border-radius: 11px !important;
}

@media only screen and (min-width: 992px) {
  .w-lg-auto {
    width: auto !important;
  }
  main .Container_Icons .Icon_Pack div,
  main .Container_Icons .Icon_Pack-1 div {
    height: 81.5px ;
  }
  main .Container_Icons .Icon_Pack i,
main .Container_Icons .Icon_Pack-1 i {
  height: 175px;
}
}
@media only screen and (max-width: 992px) {
  .w-lg-100 {
    width: 100% !important;
  }
  main .Container_Icons {
    -ms-grid-columns: auto auto auto auto auto;
    grid-template-columns: auto auto auto auto auto;
  }
  main .SideForm {
    height: 559px !important;
  }

}
@media only screen and (max-width: 768px) {
  main .Container_Icons {
    -ms-grid-columns: auto auto auto;
    grid-template-columns: auto auto auto;
  }
}
@media only screen and (max-width: 600px) {
  main .Intro {
    border-radius: 0px !important;
  }
}
#ConImageChange {
  width: 120px;
  height: 120px;
}
svg {
  width: 30px;
  height: 30px;
}
pre {
  color: #56566f !important;
}
.NewGray {
  background-color: #e5e9f0 !important;
}
.Icons_Button_Slider {
  visibility: hidden;
  position: absolute;
}
.Code_Text,
.Code_Text_1,
.Category {
  visibility: hidden;
  position: absolute;
}

.svgwhite > * {
  fill: #f2f2f8 !important;
}

.svgblack > * {
  fill: #56566f !important;
}

.svg-sidebar {
  transition: 0.5s;
  width: 0px;
}

.Font14 {
  font-size: 14px !important;
}
.Font16 {
  font-size: 16px !important;
}

main .Container_Icons .Icon_Pack-1 div {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
main .Container_Icons .Icon_Pack-1:hover div {
  background-color: #f2f2f8;
}
main .Container_Icons .Icon_Pack-1:hover .Utils {
  visibility: visible;
}

.bg-icons {
  padding: 24px;
  background-image: url(../img/Union.png);
  background-repeat: no-repeat;
  background-size: cover;
}



input[type="range"] {
  width: 100%;
  height: 4px;
  cursor: pointer;
  appearance: none;
  border-radius: 9999px;
  margin-bottom: 24px;
  margin-top: 15px;
  color: #56566f;
  background-color: #f2f2f8;
}

input[type="range"]::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 300px;
  background: #56566f;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2px;
}

.searchStyle {
  border: 0.3px solid #f2f2f8;
  border-radius: 24px !important;
  margin-left: 22px;
  width: 38vw;
}

.border-style {
  border: 0.3px solid #f2f2f8;
  border-radius: 24px !important;
  padding: 4px;
  padding-right: 17px;
  margin-right: 22px;
  overflow: hidden;
}

@media only screen and (min-width: 1350px) {
  .ChangeSizeLg {
    height: 502px;
    width: 800px;
  }
}

@media only screen and (max-width: 1350px) {
  .w-lg-100 {
    width: 100% !important;
  }
  main .SideForm {
    height: 559px !important;
  }
}

@media only screen and (max-width: 768px) {
  .searchStyle {
    width: 55vw;
  }
}

@media only screen and (max-width: 503px) {
  .changesize > * {
    font-size: 12px !important;
  }
}

.SocialMediaIcon_Navbar1 {
  background-color: #f2f2f8;
  width: 35px;
  border-radius: 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  margin: 0 6px;
  padding: 11px !important;
}

.font-18 {
  font-size: 18px !important;
}

.font-16 {
  font-size: 16px !important;
}

.Top_Style {
  border: 2px solid #685ad3;
  padding: 5px 6px !important;
  border-radius: 46px !important;
  position: relative;
}

.Top_Style small {
  color: #c6c2de !important;
  font-size: 10px !important;
  position: absolute;
  left: 30%;
  top: 48px;
}

.mainshowsvg {
  border: 1px solid #f2f2f8;
  border-radius: 18px;
  padding: 12px !important;
  margin-bottom: 3rem !important;
  max-width: 194px !important;
}

.closemodal {
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  padding: 9px !important;
  padding-top: 6px !important;
  background: #f2f2f8 !important;
  border-radius: 30px 0px 14px !important;
  cursor: pointer;
  z-index: 99999999999999;
}

.svgiconsize {
  width: 17px;
  height: 22px;
  padding-bottom: 2px;
  margin-left: 7px;
}
.svgiconsize path {
  fill: #ffffff;
}

.changebgdark {
  background-color: #f2f2f8 !important;
}

.changebgdark span {
  color: #56566f !important;
}

a {
  color: #56566f !important;
}

.svgwhite path {
  fill: #f2f2f8 !important;
}

main .MultipleSelect_Menu:hover .BtnGray1 {
  background-color: #f2f2f8;
}
main .MultipleSelect_Menu:hover .BtnGray1 svg path {
  fill: #56566f;
}

.btndark span {
  color: #56566f !important;
}

.btndark svg path {
  fill: #56566f !important;
}
